<img src="" />

<center><h1>Python!</h1></center>

# Variables:

## Syntax:
- var = initialisation

In [2]:
i_am_variable = 1

In [3]:
i_am_variable

1

In [4]:
type(i_am_variable)

int

In [5]:
i_am_variable = "I can change my self into many Datatypes!!!"

In [6]:
type(i_am_variable)

str

# DataTypes
   1. Numbers:
    - int, float, complex
   2. String:
    - str
   3. Collections:
    - list, tuple, set, dict

In [7]:
# NUMBER DATATYPE....

# int....
a = 1
print(a, "is a", type(a))

# float....
b = 1.2
print(b, "is a", type(b))

# complex....
c = 1+3j
print(c, "is a", type(c))

1 is a <class 'int'>
1.2 is a <class 'float'>
(1+3j) is a <class 'complex'>

In [8]:
# STRING DATATYPE....

# Let us get some input from the user....
in_put = input("Enter Something:")
print(in_put , "is a", type(in_put))

Enter Something:1
1 is a <class 'str'>

#### Oh No!!.... 
##### Every value get from the user via input() is String by default.
##### return type of input() is String....

In [9]:
changed_input = int(input("Enter the Number:"))
print(changed_input, "is a", type(changed_input))

Enter the Number:1
1 is a <class 'int'>

# Collections

## Lists:
> Python knows a number of compound data types, used to group together
other values. The most versatile is the list, which can be written as a
list of comma-separated values (items) between square brackets. Lists
might contain items of different types, but usually the items all have
the same type.

> Syntax: name = [item1,.,.,itemn]

In [10]:
squares = [1, 4, 9, 16, 25]
new_list = ["hi", 1, 10.2, 1+2j]

In [11]:
new_list

['hi', 1, 10.2, (1+2j)]

In [12]:
squares

[1, 4, 9, 16, 25]

In [13]:
squares[3] # get values by index....

16

In [14]:
squares[1:3] # get values by slicing....

[4, 9]

In [18]:
squares[:]

[1, 4, 9, 16, 25]

In [20]:
squares[::-1] # get values with steps....

[25, 16, 9, 4, 1]

In [22]:
i_am_variable

'I can change my self into many Datatypes!!!'

In [21]:
i_am_variable[::-1]

'!!!sepytataD ynam otni fles ym egnahc nac I'

In [19]:
squares[0:3:2] # start from 0 upto 3 with step 2....

[1, 9]

In [23]:
squares.append(36)

In [24]:
squares

[1, 4, 9, 16, 25, 36]

Check this Document for [List.](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists) (OR)

In [25]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## Tuple:
> Tuples may seem similar to lists, they are often used in different situations and for different purposes. Tuples are immutable

> Syntax:
    name = (....)

In [26]:
numbers = (1, 2, 3, 4, 5)

In [27]:
numbers.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [28]:
numbers[3] = 6

TypeError: 'tuple' object does not support item assignment

Check this Document for [Tuple.](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences) (OR)

In [29]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple() -> empty tuple
 |  tuple(iterable) -> tuple initialized from iterable's items
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(...)
 |      T.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      T.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.

## Set:
> A set is an unordered collection with no duplicate elements. To create a set you have to use set(), not {}.

> Syntax : name ={....}

In [30]:
first_set = {1, 1, 2, 1, 8, 4, 2, 6}

In [31]:
first_set

{1, 2, 4, 6, 8}

In [32]:
second_set = {1, 3, 4, 6, 8}

In [33]:
first_set.intersection(second_set)

{1, 4, 6, 8}

Check this Document for [Set.](https://docs.python.org/3/tutorial/datastructures.html#sets) (OR)

In [34]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## Dictionaries:
> It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.

> Syntax : name {key:value}

In [14]:
my_class = {
    "no:1" : (1, "Sam"),
    "no:2:" : (2, "Ram"),
    "no:3"  : (3, "Vicky")
}

In [15]:
my_class["no:3"]

(3, 'Vicky')

In [16]:
my_class["no:1"] = (4, "Raju")

In [17]:
my_class["no:1"]

(4, 'Raju')

In [18]:
my_class["no:4"] = (5, "Pavi")

In [19]:
my_class

{'no:1': (4, 'Raju'),
 'no:2:': (2, 'Ram'),
 'no:3': (3, 'Vicky'),
 'no:4': (5, 'Pavi')}

In [37]:
num = [1, 2, 3, 4, 5]

In [20]:
a, b = 1, 2

In [22]:
print("a = ", a, "b = ", b)

a =  1 b =  2

In [23]:
a, b  = b, a

In [24]:
print("a = ", a, "b = ", b)

a =  2 b =  1

In [39]:
squares

[1, 4, 9, 16, 25, 36]

In [38]:
num_square_zip = zip(num, squares)

In [40]:
num_square_zip

In [41]:
num_square_dict = dict(num_square_zip)

In [42]:
num_square_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Check this Document for [Dict.](https://docs.python.org/3/tutorial/datastructures.html#dictionaries) (OR)

In [43]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if D has a key k, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Returns a new dict with keys from iterable and values equal to value.
 |
 |  get(...)
 |      D.get(k[,d]) -> D[k] if k in D, else d.  d defaults to None.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(...)
 |      D.popitem() -> (k, v), remove and return some (key, value) pair as a
 |      2-tuple; but raise KeyError if D is empty.
 |
 |  setdefault(...)
 |      D.setdefault(k[,d]) -> D.get(k,d), also set D[k]=d if k not in D
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

# Conditionals

1. if
2. if...else
3. if...elif...else

## If condition:
> Syntax:


```
if Condition:
      true statements....
```

In [51]:
num

[1, 2, 3, 4, 5]

In [54]:
if 1 == num[0]:
    print("HI It's Working.....!!!!!")

HI It's Working.....!!!!!

## if....else Condition:
> Syntax:

```
if Condition:
    true statements.....
else:
    false statements....
```

In [55]:
if 2 == num[1]:
    print("OOpps Not Working....")
else:
    print("Yes! It's Working....")

OOpps Not Working....

## if...elif....else Condition:
> Syntax:

```
if Condition1:
    true for Condition1 ....
elif Condition2:
    true for Condition2.....
elif Condition3:
    true for Condition3.....
else:
    false statement....
```

In [58]:
if(1 == num[2]):
    print("It is condition1....")
elif(1 == num[1]):
    print("It is condition2....")
elif(5 == num[2]):
    print("It is condition3....")
else:
    print("It is false statement....")

It is false statement....

# Looping..............................

## for..
## while...

### for:
> for is for get values from the collections

In [9]:
for i in range(5):
    print(i)
else:
    print("Over...")

0
1
2
3
4
Over...

In [64]:
for i in [2, 3, 4, 8, 6]:
    print(i, end=",")

2,3,4,8,6,

In [62]:
5 in [2, 3, 4, 8, 6]

False

### While
> while is for condition checking loop

In [8]:
i = 1

while True:
    print(i)
    i+=1
    if i>5:
        break
else:
    print("New one here!!!!...")
    # i++ -> not working....

1
2
3
4
5

# Task:
## Get input from user (int) and store first five even numbers in list

In [1]:
in_put = int(input("Enter the number:"))
even = []
num = 1
while(len(even) < in_put):
    if(num%2 == 0):
        even.append(num)
    num+=1
print(even)

Enter the number:5
[2, 4, 6, 8, 10]

In [8]:
even = []
for num in range(2, int(input("Enter the number:"))*2+1, 2):
    even.append(num)
print(even)

Enter the number:5
[2, 4, 6, 8, 10]

In [14]:
inp = int(input("Enter number : "))*2+1
lis = []
for i in range(2,inp):
    if not i%2:
        lis.append(i)

        print(lis)
print(len(lis))

Enter number : 5
[2, 4, 6, 8, 10]
5

In [17]:
myl = [num for num in range(2, int(input("Enter the number:"))*2+1, 2)]

Enter the number:5

In [18]:
myl

[2, 4, 6, 8, 10]

# MARK PROCESSING?

### Problem statement:

* I/P
 - 4
 - Ram 100
 - Sam 50
 - Raju 46
 - Pavi 50

* O/P
  - 100 Ram
  - 50 [Sam, Pavi]
  - 46 Raju

In [4]:
dictionary = {}
n = int(input("Enter the limit : "))
for _ in range(n):
    name,mark = input("Enter name and Mark : ").split()
    mark = int(mark)
    if mark not in dictionary:
        dictionary[mark] = name
    else:
        dictionary[mark] += " "+name
    
for i in sorted(dictionary,reverse=True):
    if " " in dictionary[i]:
        dictionary[i] = sorted(dictionary[i].split())
    print(i,dictionary[i])

Enter the limit : 3
Enter name and Mark : ram 100
Enter name and Mark : sam 10
Enter name and Mark : pavi 100
100 ['pavi', 'ram']
10 sam

# Naming Convention:

* addtwonumbers

* AddTwoNumbers -> Upper Camel Case (or) Capital Case {For Classes}

* addTwoNumbers -> Lower Camel Case {For Fucntions}

* add_two_numbers -> Snake Case {For Variables}

# Spy plane

* Test case : 1
```
i/p:
6
a
a
b
c
c
b
o/p:
All Arrived!
```

* Test case : 2
```
i/p:
6
a
a
b
b
c
b
o/p:
[b,c]
```

* Test case : 3
```
i/p:
8
a
a
b
b
b
b
c
c
o/p:
All Arrived!
```

* Test case : 4
```
i/p:
5
a
a
b
c
c
o/p:
b
```

# Election

* Test case : 1
```
i/p:
5
a 10
b 20
a 30
a 20
b 45
o/p:
b 65
a 60
```

* Test case : 1
```
i/p:
8
a 10
b 20
a 30
a 20
b 45
c 20
c 20
c 20
o/p:
b 65
a 60
c 60
```